.d-flex {
    display: flex;
}
.grid {
    display: grid;
}
.grid-col-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.bg-pink {
    background-color: pink;
}
.bg-skyblue {
    background-color: skyblue;
}
.ma-8 {
    margin: 8px;
}
.ma-20 {
    margin: 20px;
}
.ma-10p {
    margin: 10%;
}
.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.pa-2p {
    padding: 2%;
}
.pa-5p {
    padding: 5%;
}

.w-60p {
    width: 60%;
}

.w-80p {
    width: 80%;
}

.w-100p {
    width: 100%
}
.h-20 {
    height: 20px;
}
.h-40p {
    height: 40%;
}
.justify-self-center {
    justify-self: center;
}
.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.rounded-xl {
    border-radius: 10px;
}
.ratio-2 {
    aspect-ratio: 2.0;
}

.text-bold {
    font-weight: 700;
}

.action-button {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: #ece6e6;
    border-radius: 8px;
    border-color: black;
    border-width: 2px;
    text-transform: uppercase;
    padding: 10px 16px;
    color: #d92242;
    letter-spacing: 0.08em;
}

.auth-button {
    position: absolute;
    right: 5%;
    top: 10%;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #f7eeee;
}

body {
    font-family: system-ui;
}
a {
    text-decoration: none;
}
